@charset "UTF-8";
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes openanimation {
  0% {
    max-height: 0;
  }
  20% {
    max-height: 50px;
  }
  40% {
    max-height: 100px;
  }
  60% {
    max-height: 200px;
  }
  80% {
    max-height: 400px;
  }
  to {
    max-height: 9999px;
  }
}

@keyframes openanimation {
  0% {
    max-height: 0;
  }
  20% {
    max-height: 50px;
  }
  40% {
    max-height: 100px;
  }
  60% {
    max-height: 200px;
  }
  80% {
    max-height: 400px;
  }
  to {
    max-height: 9999px;
  }
}

@-webkit-keyframes hideanimation {
  0% {
    max-height: 9999px;
  }
  20% {
    max-height: 100px;
  }
  40% {
    max-height: 50px;
  }
  60% {
    max-height: 20px;
  }
  80% {
    max-height: 10px;
  }
  to {
    max-height: 0;
  }
}

@keyframes hideanimation {
  0% {
    max-height: 9999px;
  }
  20% {
    max-height: 100px;
  }
  40% {
    max-height: 50px;
  }
  60% {
    max-height: 20px;
  }
  80% {
    max-height: 10px;
  }
  to {
    max-height: 0;
  }
}

@-webkit-keyframes rem {
  0% {
    left: 0;
    opacity: 1;
  }
  to {
    left: 100px;
    opacity: 0;
    display: none;
    -webkit-animation-play-state: paused;
  }
}

body {
  font-family: "Lato",Helvetica,Arial;
  font-size: 18px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#828fb1), to(#343a4a));
  background-image: linear-gradient(to bottom right, #828fb1, #343a4a);
  width: 17em;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #22252d;
  border-radius: 50%;
  width: 85px;
  height: 85px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  position: absolute;
  left: calc(50% - 54px);
  top: calc(50% - 67px);
}

.title {
  text-align: center;
  color: #fff;
  text-shadow: 0 0 3px #fff;
  -webkit-margin-before: .5em;
          margin-block-start: .5em;
  -webkit-margin-after: .4em;
          margin-block-end: .4em;
  font-family: 'Pacifico';
  font-size: 27px;
  line-height: 0.4;
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-top: 1px solid #22252d;
  border-bottom: 1px solid #22252d;
  -webkit-padding-before: .2em;
          padding-block-start: .2em;
  -webkit-padding-after: 0.2em;
          padding-block-end: 0.2em;
}

.button-stash {
  background-image: url(../pic/StashBTN.png);
}

.button-stash:hover {
  background-image: url(../pic/StashBTN-Light.png);
}

.button-pop {
  background-image: url(../pic/PopBTN.png);
}

.button-pop:hover {
  background-image: url(../pic/PopBTN-Light.png);
}

.button-pop-all {
  background-image: url(../pic/PopAllBTN.png);
}

.button-pop-all:hover {
  background-image: url(../pic/PopAllBTN-Light.png);
}

.button-save {
  background-image: url(../pic/SaveBTN.png);
}

.button-save:hover {
  background-image: url(../pic/SaveBTN-Light.png);
}

.top-button {
  background-position: center center;
  background-color: #4145508c;
  border: 1px solid #22252d;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 0 4px #22252d;
          box-shadow: 0 4px #22252d;
  -webkit-transition: none;
  transition: none;
  margin: 6px;
  letter-spacing: 1px;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-spacing: normal;
  text-indent: 0;
  text-shadow: none;
}

.top-button:hover {
  -webkit-box-shadow: 0 2px #22252d;
          box-shadow: 0 2px #22252d;
  top: 2px;
}

.top-button:active {
  background-color: #686d7b;
  -webkit-box-shadow: 0 0 #22252d;
          box-shadow: 0 0 #22252d;
  top: 4px;
}

.top-button ::after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.top-button ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* > ul {
  overflow: hidden;
  overflow-wrap: break-word;
  list-style: none;
  padding: 0;
  margin: 3px 0 5px;
}

a {
  text-decoration: none;
  color: #fff;
  font-family: "Pacifico";
}

a input {
  position: absolute;
  right: 90px;
  width: calc(100% - 116px);
  height: calc(100% - 20px);
  padding: 0;
  background-color: #ced0d3;
  font: inherit;
  top: 10px;
}

a img {
  max-width: 16px;
  max-height: 16px;
  -webkit-margin-end: 0.4em;
          margin-inline-end: 0.4em;
}

.dropdown-a {
  position: relative;
  display: block;
  color: #fff;
  background: #4145508c;
  padding: 10px 90px 10px 30px;
  border-radius: 2em;
  margin: 0 5px;
}

a:hover {
  -webkit-box-shadow: inset 0 0 7px 1px #b6bed4;
          box-shadow: inset 0 0 7px 1px #b6bed4;
}

.dropdown-menu {
  max-height: 0;
  overflow: hidden;
  margin-right: 5px;
  margin-left: 10px;
}

.dropdown-menu.open {
  max-height: 9999px;
  -webkit-animation: openanimation 0.4s;
          animation: openanimation 0.4s;
}

.dropdown-menu.hide {
  max-height: 0;
  -webkit-animation: hideanimation 0.4s;
          animation: hideanimation 0.4s;
}

.dropdown-menu li {
  padding: 0;
  position: relative;
}

.dropdown-menu a {
  display: block;
  padding: 10px 30px 10px 10px;
  font-size: 15px;
}

button {
  right: 70px;
}

button.sub-but {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #30323a66;
  padding: 0;
  top: calc(50% - 10px);
  cursor: pointer;
  border: 0;
  -webkit-transition: none;
  transition: none;
  letter-spacing: 1px;
  outline: 0;
  font: 700 1em/2em Arial,Helvetica;
  color: gray;
}

button.edi-but {
  right: 30px;
}

button.rem-but {
  right: 10px;
}

button.pop-but {
  right: 50px;
}

button.sub-but:hover {
  background-color: #30323a;
  color: #fff;
}

button.sub-but:before {
  pointer-events: none;
  text-align: center;
  line-height: 22px;
}

button.rem-but:before {
  content: "✖";
}

button.edi-but:before {
  content: "✎";
}

button.pop-but::before {
  content: "⇫";
}

button.rest-but::before {
  content: "⇯";
}

.removing {
  -webkit-animation: rem .3s;
  -webkit-animation-fill-mode: forwards;
}

.removing ::-webkit-scrollbar {
  width: 7px;
}

.removing ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.73);
  border-radius: 4px;
}

.removing ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 10px 20px rgba(84, 93, 138, 0.38);
}

.previus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.previus-message {
  color: #fff;
  padding: 20px 60px;
  text-indent: 1.5em;
  text-align: justify;
  line-height: 1.4em;
}

.change-log {
  padding: 20px;
}

.curtain {
  position: absolute;
  left: 0;
  top: 0;
  width: calc( 100% - 24px);
  height: calc( 100% - 24px);
  background: transparent;
  background-color: #5b657eeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 12px 12px;
  font-family: 'Pacifico';
  color: #fff;
  text-shadow: 1px 1px 2px #22252d, 0 0 1em #22252d;
  display: flex;
  flex-direction: column;
}

.curtain div:first-child {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.curtain > div {
  text-align: center;
}

.answer-btns {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 1em;
  width: 40%;
}
/*# sourceMappingURL=style.css.map */