<!-- chrome.storage.sync.set -->
<label>"Settings"</label>
<br>
<label>"Settings is coming!"</label>
<br>
<Label>If you wanna to write about bugs, click here:</Label>
<a href="https://gitlab.com/js-crome-plugins/tab-stash/issues">"GITLAB"</a>