<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../style/style.css">
</head>
<body>
	<div class="loader"></div>
	<div class="container" style="display:none;">
		<h3 class="title">Tab-stash</h3>
		<div class="button-container">
			<button class="top-button button-save" title="save session">
			<button class="top-button button-stash" title="stash">
			<button class="top-button button-pop" title="pop last stash">
			<button class="top-button button-pop-all" title="pop all stashes">
		</div>
		<ul id="list"></ul>
	</div>
	<script src="../js/popup.js"></script>
</body>
