<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../style/style.css">
</head>
<body style="width: inherit">
	<div class="previus title">
		Hi dear friend! Tsank yoo for using "Tab-stash"
	</div>
	<div class="previus-message">
		Бла бла вы крутые! Бла бла вы крутые! Бла бла вы крутые! Бла бла вы крутые! Бла бла вы крутые! Бла бла вы крутые! Бла бла вы крутые! Бла бла вы крутые! Бла бла вы крутые! Бла бла вы крутые! 
	</div>
	<div class="change-log">
		<div class="version-changes">
			<div>
				
			</div>
			<ul>
				<li>

				</li>
			</ul>
		</div>
	</div>
</body>